<head>
    <!-- ----- Core (General)  ----- -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="The Pocket Executive Team">

    <!-- ----- Core (Wesbsite)  ----- -->
    <link rel="icon" type="image/png" sizes="16x16" href="logo/logo_16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="logo/logo_32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="logo/logo_48.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="logo/logo_128.png" />
    <link rel="icon" type="image/png" sizes="180x180" href="logo/logo_180.png" />

    <title data-react-helmet="true">
        <%= title %>
    </title>
    <meta data-react-helmet="true" name="description" content="<%= metaDescription %>" />

    <!-- ----- Indexing and SEO  ----- -->
    <meta name="”robots”" content="”index," follow” />

    <!-- ----- Social Media  ----- -->
    <meta property="og:title" content="#" />
    <meta property="og:description" content="<%= metaDescription %>" />
    <meta property="og:image" content="logo/logo_128.png">

    <!-- ----- Styling (CSS) ----- -->
    <link rel="stylesheet" href="./css/global.css" type="text/css" />
    <link rel="stylesheet" href="<%= css %>" type="text/css" />
</head>

<body>
    <a href="/">
        <h1 class="title">
            <img src="/logo/logo.svg" alt="Logo" id="logo">
            The Pocket Executive
        </h1>
    </a>