<%- include("partials/header", {css:"css/startups.css", title: "Startups" , metaDescription:"Explore Startups"}) %>

<main>
    <div class="search_bar">
        <input type="text" placeholder="Search ..." name="search" id="search-input">
        <button id="advanced-search-button">Advanced Search</button>
    </div>
    <div id="startup_list">
        <%- include('partials/startup_list', { startups: startups.slice(0, 10) }) %>
    </div>
    <button id="swipe_switch">Switch to Swipe</button>
</main>

<script src="javascript/startup.js"></script>

<%- include('partials/footer') -%>