<%-include("partials/header", {css:"css/survey.css", title: "The Pocket Executive" , metaDescription:"From Aspiring to Inspiring Entrepreneurs"}) %>

<h2 id="general_header">Let's find you a Startup</h2>

<div id="page1">
    <p>Describe what you want, our AI will handle the rest...</p>
    <div class="description-container">
        <div class="card suggestions" id="suggestions">
            <h3>Ideas</h3>
            <ul>
                <li>What startup traits are important for you?</li>
                <li>Which industries do you invest in?</li>
                <li>What founder experiences do you value?</li>
                <li>How should a team tackle challenges?</li>
                <li>How important are past failures?</li>
                <li>What are your criteria for investments?</li>
            </ul>
        </div>
        <div class="relative-container">
            <textarea id="description" placeholder="Who do you want to be?"></textarea>
            <div class="center-mic">
                <button id="speak_button">
                    <img src="/images/mic.svg" alt="Mic" class="mic-icon">
                </button>
            </div>
        </div>
        <div id="actual_suggestions_container">
        </div>
    </div>
</div>


<p id="iconic_sentence">"</p>

<div id="startups" class="startups-container">
    <div class="left-section">
        <div class="description">
            <p id="character_description"></p>
        </div>
        <div class="objects_container">
            <div id="object_icon"></div>
            <p id="objects"></p>
        </div>
        <input type="button" id="playerSubmit" value="Submit">
    </div>
    <div class="right-section">
        <img src="" alt="Character Image" id="character-image">
        <div class="health_container">
            <p id="health"></p>
        </div>
        <p id="character_appearance"></p>
        <div class="skills_container">
        </div>
    </div>
</div>

<div id="button-container">
    <input type="button" id="submit" class="action-button" value="Submit...">
    <p id="logo_animated">Our AI is Working Hard to find you the best deal.</p>
    <img src="images/infinity.gif" alt="Infinity GIF" id="logo_animated">
</div>

<script src="javascript/survey.js"></script>
<script src="javascript/speech.js"></script>

<%- include('partials/footer') -%>