<%-include("partials/header", {css:"css/swipe.css", title: "The Pocket Executive" , metaDescription:"From Aspiring to Inspiring Entrepreneurs"}) %>

<header>
    <h1 class="title">
        <img src="/logo/logo.svg" alt="Logo" id="logo">
        Hi Kati, 
    </h1>
    <p class="subtitle">Let's find you a good deal</p>
</header>

<main>
        <div class="startup_box">

        </div>
        <div class="swipe_commands">
            <button id="swipe_left">Swipe Left</button>
            <button id="swipe_right">Swipe Right</button>
            <button id="swipe_up">Swipe Up</button>
        </div>
</main>

<script src="javascript/swipe.js"></script>

<%- include('partials/footer') -%>