<%-include("partials/header", {css:"css/home.css", title: "The Pocket Executive" , metaDescription:"From Aspiring to Inspiring Entrepreneurs"}) %>

<div class="container">
    <header>
        <h1 class="title">
            <img src="/logo/logo.svg" alt="Logo" id="logo">
            Welcome to the Pocket Executive
        </h1>
        <p class="subtitle">From Aspiring to Inspiring Entrepreneurs</p>
        <div class="search-bar">
            <input type="text" placeholder="Search ..." name="search" id="search-input">
            <button><i class="fa fa-search"></i></button>
        </div>
    </header>
    <main id="modules-container"></main>
</div>

<script src="javascript/home.js"></script>

<%- include('partials/footer') -%>