<%-include("partials/header", {css:"css/landing.css", title: "The Pocket Executive" , metaDescription:"From Aspiring to Inspiring Entrepreneurs"}) %>

<header>
    <h1 class="title">
        <img src="/logo/logo.svg" alt="Logo" id="logo">
       The Pocket Executive
    </h1>
</header>

<div class="container">
    <div class="section left-section">
        <div class="content">
            <h1>Founder</h1>
            <h2>A free business accelerator and startup hub. Yes, FREE</h2>
            <button class="action-button" onclick="startup_access()">Access</button>
        </div>
    </div>
    <div class="section right-section">
        <div class="content">
            <h1>Investor</h1>
            <h2>The best Startups in the Market, screaned and prepared for you.</h2>
            <button class="action-button" onclick="investor_access()">Invest</button>
        </div>
    </div>
</div>

<div id="video_container">
    <h2 class="save_header">Save Time & Money</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9ld4sijxGOE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 The Pocket Executive</p>
        <p>Founders: Lorenzo Satta Chiris (CEO), Elli Stern (CPO), Pate West (CMO), Aiden Brutman (CTO), Kieran Duffey (CFO)</p>
        <div class="footer-links">
            <a href="mailto:thepocketexecutive@gmail.com">Contact Us</a>
            <a href="/about">About Us</a>
        </div>
    </div>
</footer>


<script src="javascript/landing.js"></script>

<%- include('partials/footer') -%>